<%= form_for [current_user, @item], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter item name" %>
  </div>
  <div class="form-group">
    <%= f.label :private do %>
      <%= f.check_box :private %> Private item
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>
